.home #title {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 20px;
    width: 64%;
}

.home #title h1 {
    font-family: imfellenglish;
    font-size: 70px;
    margin-bottom: 0;
}

.home #title h2 {
    font-family: imfellenglish;
    margin: 0;
}
